create database {{ POSTFIX_MYSQL_DATABASE|default("postfix",true) }};
GRANT ALL ON {{ POSTFIX_MYSQL_DATABASE|default("postfix",true) }}.* TO '{{ POSTFIX_MYSQL_USER|default("postfix",true) }}'@'%' IDENTIFIED BY '{{ POSTFIX_MYSQL_PASSWORD|default("postfix",true) }}';
