create database {{ ROUNDCUBE_MYSQL_DATABASE|default("roundcube",true) }};
GRANT ALL ON {{ ROUNDCUBE_MYSQL_DATABASE|default("roundcube",true) }}.* TO '{{ ROUNDCUBE_MYSQL_USER|default("roundcube",true) }}'@'%' IDENTIFIED BY '{{ ROUNDCUBE_MYSQL_PASSWORD|default("roundcube",true) }}';
