create database {{ ZPUSH_MYSQL_DATABASE|default("zpush",true) }};
GRANT ALL ON {{ ZPUSH_MYSQL_DATABASE|default("zpush",true) }}.* TO '{{ ZPUSH_MYSQL_USER|default("zpush",true) }}'@'%' IDENTIFIED BY '{{ ZPUSH_MYSQL_PASSWORD|default("zpush",true) }}';
