<?php
    define('CALDAV_PROTOCOL', 'http');
    define('CALDAV_SERVER', '{{ SABRE_CONTAINER_NAME|default("sabre",true) }}');
    define('CALDAV_PORT', '80');
    define('CALDAV_PATH', '/dav/calendars/%u/');
    define('CALDAV_PERSONAL', 'default');
    define('CALDAV_SUPPORTS_SYNC', true);
    define('CALDAV_MAX_SYNC_PERIOD', 2147483647);
?>
