<?php
    define('CARDDAV_PROTOCOL', 'http');
    define('CARDDAV_SERVER', '{{ SABRE_CONTAINER_NAME|default("sabre",true) }}');
    define('CARDDAV_PORT', '80');
    define('CARDDAV_PATH', '/dav/addressbooks/%u/');
    define('CARDDAV_DEFAULT_PATH', '/dav/addressbooks/%u/default/');
    define('CARDDAV_CONTACTS_FOLDER_NAME', '%u Addressbook');
    define('CARDDAV_SUPPORTS_SYNC', false);
    define('CARDDAV_SUPPORTS_FN_SEARCH', false);
    define('CARDDAV_URL_VCARD_EXTENSION', '.vcf');
?>
