<?php
        define('IMAP_SERVER', '{{ DOVECOT_CONTAINER_NAME|default("dovecot",true) }}');
        define('IMAP_PORT', {{ DOVECOT_PORT_IMAP|default("993",true) }});
        define('IMAP_OPTIONS', '{{ DOVECOT_IMAP_OPTIONS|default("/ssl/novalidate-cert/norsh",true) }}');
        define('IMAP_AUTOSEEN_ON_DELETE', false);
        define('IMAP_FOLDER_CONFIGURED', true);
        define('IMAP_FOLDER_PREFIX', '');
        define('IMAP_FOLDER_PREFIX_IN_INBOX', false);
        define('IMAP_FOLDER_INBOX', 'INBOX');
        define('IMAP_FOLDER_SENT', 'Sent');
        define('IMAP_FOLDER_DRAFT', 'Drafts');
        define('IMAP_FOLDER_TRASH', 'Trash');
        define('IMAP_FOLDER_SPAM', 'Junk');
        define('IMAP_FOLDER_ARCHIVE', 'Archive');
        define('IMAP_INLINE_FORWARD', true);
        define('IMAP_EXCLUDED_FOLDERS', '');
        define('IMAP_DEFAULTFROM', '');
        define('IMAP_FROM_SQL_DSN', '');
        define('IMAP_FROM_SQL_USER', '');
        define('IMAP_FROM_SQL_PASSWORD', '');
        define('IMAP_FROM_SQL_OPTIONS', serialize(array(PDO::ATTR_PERSISTENT => true)));
        define('IMAP_FROM_SQL_QUERY', "select first_name, last_name, mail_address from users where mail_address = '#username@#domain'");
        define('IMAP_FROM_SQL_FIELDS', serialize(array('first_name', 'last_name', 'mail_address')));
        define('IMAP_FROM_SQL_EMAIL', '#mail_address');
        define('IMAP_FROM_SQL_FROM', '#first_name #last_name <#mail_address>');
        define('IMAP_FROM_SQL_FULLNAME', '#first_name #last_name');
        define('IMAP_FROM_LDAP_SERVER_URI', 'ldap://127.0.0.1:389/');
        define('IMAP_FROM_LDAP_USER', 'cn=zpush,ou=servers,dc=zpush,dc=org');
        define('IMAP_FROM_LDAP_PASSWORD', 'password');
        define('IMAP_FROM_LDAP_BASE', 'dc=zpush,dc=org');
        define('IMAP_FROM_LDAP_QUERY', '(mail=#username@#domain)');
        define('IMAP_FROM_LDAP_FIELDS', serialize(array('givenname', 'sn', 'mail')));
        define('IMAP_FROM_LDAP_EMAIL', '#mail');
        define('IMAP_FROM_LDAP_FROM', '#givenname #sn <#mail>');
        define('IMAP_FROM_LDAP_FULLNAME', '#givenname #sn');
        define('IMAP_SMTP_METHOD', 'smtp');

        global $imap_smtp_params;
        $imap_smtp_params = array(
                'host' => '{{ DOVECOT_CONTAINER_NAME|default("dovecot",true) }}',
                'port' => {{ DOVECOT_PORT_SUBMISSION|default("587",true) }},
                'username' => 'imap_username',
                'password' => 'imap_password',
                'auth' => true,
                'verify_peer' => false,
                'verify_peer_name' => false,
                'allow_self_signed' => true
        );
        define('MAIL_MIMEPART_CRLF', "\r\n");
        define('SYSTEM_MIME_TYPES_MAPPING', '/etc/mime.types');
        define('IMAP_MEETING_USE_CALDAV', true);
        define('IMAP_SEARCH_CHARSET', 'UTF-8');
?>
