<?php
    define('STATE_SQL_ENGINE', 'mysql');
    define('STATE_SQL_SERVER', '{{ MYSQL_HOST|default("mysql",true) }}');
    define('STATE_SQL_PORT', '3306');
    define('STATE_SQL_DATABASE', '{{ ZPUSH_MYSQL_DATABASE|default("zpush",true) }}');
    define('STATE_SQL_USER', '{{ ZPUSH_MYSQL_USER|default("zpush",true) }}');
    define('STATE_SQL_PASSWORD', '{{ ZPUSH_MYSQL_PASSWORD|default("zpush",true) }}');
    define('STATE_SQL_OPTIONS', serialize(array(PDO::ATTR_PERSISTENT => true)));
?>
