<?php
    define('TIMEZONE', '{{ SERVER_HOSTNAME|default("UTC",true) }}');
    define('BASE_PATH', dirname($_SERVER['SCRIPT_FILENAME']). '/');
    define('SCRIPT_TIMEOUT', 0);
    define('USE_CUSTOM_REMOTE_IP_HEADER', false);
    define("CERTIFICATE_OWNER_PARAMETER", "SSL_CLIENT_S_DN_CN");
    define('USE_FULLEMAIL_FOR_LOGIN', true);
    define('STATE_MACHINE', 'SQL');
    define('STATE_DIR', '/var/lib/z-push/');
    define('IPC_PROVIDER', 'IpcMemcachedProvider');
    define('LOGBACKEND', 'filelog');
    // define('LOGLEVEL', LOGLEVEL_INFO);
    define('LOGLEVEL', LOGLEVEL_DEBUG);
    define('LOGAUTHFAIL', false);
    define('LOGUSERLEVEL', LOGLEVEL_DEVICEID);
    $specialLogUsers = array();
    define('LOGFILEDIR', '/var/log/z-push/');
    define('LOGFILE', LOGFILEDIR . 'z-push.log');
    define('LOGERRORFILE', LOGFILEDIR . 'z-push-error.log');
    define('LOG_SYSLOG_HOST', false);
    define('LOG_SYSLOG_PORT', 514);
    define('LOG_SYSLOG_PROGRAM', 'z-push');
    define('LOG_SYSLOG_FACILITY', LOG_LOCAL0);

    define('PROVISIONING', true);
    define('LOOSE_PROVISIONING', true);
    define('PROVISIONING_POLICYFILE', 'policies.ini');
    define('SYNC_CONFLICT_DEFAULT', SYNC_CONFLICT_OVERWRITE_PIM);
    define('SYNC_FILTERTIME_MAX', SYNC_FILTERTYPE_ALL);
    define('PING_INTERVAL', 30);
    define('FILEAS_ORDER', SYNC_FILEAS_LASTFIRST);
    define('SYNC_MAX_ITEMS', 256);
    define('UNSET_UNDEFINED_PROPERTIES', false);
    define('SYNC_CONTACTS_MAXPICTURESIZE', 5242880);
    define('ALLOW_WEBSERVICE_USERS_ACCESS', false);
    define('USE_PARTIAL_FOLDERSYNC', true);
    define('PING_LOWER_BOUND_LIFETIME', false);
    define('PING_HIGHER_BOUND_LIFETIME', false);
    define('SYNC_TIMEOUT_MEDIUM_DEVICETYPES', "SAMSUNGGTI");
    define('SYNC_TIMEOUT_LONG_DEVICETYPES',   "iPod, iPad, iPhone, WP, WindowsOutlook, WindowsMail");
    define('RETRY_AFTER_DELAY', 300);

    define('BACKEND_PROVIDER', 'BackendCombined');
    define('SEARCH_PROVIDER', '');
    define('SEARCH_WAIT', 10);
    define('SEARCH_MAXRESULTS', 10);

    define('KOE_CAPABILITY_GAB', true);
    define('KOE_CAPABILITY_RECEIVEFLAGS', true);
    define('KOE_CAPABILITY_SENDFLAGS', true);
    define('KOE_CAPABILITY_OOF', true);
    define('KOE_CAPABILITY_OOFTIMES', true);
    define('KOE_CAPABILITY_NOTES', true);
    define('KOE_CAPABILITY_SHAREDFOLDER', true);
    define('KOE_CAPABILITY_SENDAS', true);
    define('KOE_CAPABILITY_SECONDARYCONTACTS', true);
    define('KOE_CAPABILITY_SIGNATURES', true);
    define('KOE_CAPABILITY_RECEIPTS', true);
    define('KOE_CAPABILITY_IMPERSONATE', true);
    define('KOE_GAB_STORE', 'SYSTEM');
    define('KOE_GAB_FOLDERID', '');
    define('KOE_GAB_NAME', 'Z-Push-KOE-GAB');

    $additionalFolders = array(
    );

?>
