driver = mysql
connect = host={{ MYSQL_HOST|default("mysql",true) }} dbname={{ MYSQL_DATABASE|default("postfix",true) }} user={{ MYSQL_USER|default("postfix",true) }} password={{ MYSQL_PASSWORD|default("postfix",true) }}
# default_pass_scheme = SHA512-CRYPT
# default_pass_scheme = CRAM-MD5
default_pass_scheme = MD5-CRYPT

password_query = SELECT username AS user,password FROM mailbox WHERE username = '%u' AND active='1'
user_query = SELECT CONCAT('/srv/mail/', maildir) AS home, 1001 AS uid, 1001 AS gid, CONCAT('*:bytes=', quota) AS quota_rule FROM mailbox WHERE username = '%u' AND active='1'
iterate_query = SELECT username as user FROM mailbox WHERE active = '1'
