hostname = mail

submission_max_mail_size = 100M
submission_max_recipients = 100

submission_relay_host = {{ RELAY_HOST|default("postfix",true) }}
submission_relay_port = {{ RELAY_PORT|default("25",true) }}
submission_relay_trusted = yes

submission_relay_ssl = no
submission_relay_ssl_verify = no

protocol submission {
  login_greeting = "Hello there"
}
