user = {{ MYSQL_USER|default("postfix",true) }}
password = {{ MYSQL_PASSWORD|default("postfix",true) }}
hosts = {{ MYSQL_HOST|default("mysql",true) }}
dbname = {{ MYSQL_DBNAME|default("postfix",true) }}
query = SELECT quota FROM mailbox WHERE username='%s' AND active = '1'
