user = {{ MYSQL_USER|default("postfix",true) }}
password = {{ MYSQL_PASSWORD|default("postfix",true) }}
hosts = {{ MYSQL_HOST|default("mysql",true) }}
dbname = {{ MYSQL_DBNAME|default("postfix",true) }}
query           = SELECT maildir FROM mailbox WHERE username='%s' AND active = '1'
#expansion_limit = 100
