user = {{ MYSQL_USER|default("postfix",true) }}
password = {{ MYSQL_PASSWORD|default("postfix",true) }}
hosts = {{ MYSQL_HOST|default("mysql",true) }}
dbname = {{ MYSQL_DBNAME|default("postfix",true) }}
query          = SELECT domain FROM domain WHERE domain='%s' AND active = '1'
#query          = SELECT domain FROM domain WHERE domain='%s'
#optional query to use when relaying for backup MX
#query           = SELECT domain FROM domain WHERE domain='%s' AND backupmx = '0' AND active = '1'
#optional query to use for transport map support
#query           = SELECT domain FROM domain WHERE domain='%s' AND active = '1' AND NOT (transport LIKE 'smtp%%' OR transport LIKE 'relay%%')
#expansion_limit = 100
