user = {{ MYSQL_USER|default("postfix",true) }}
password = {{ MYSQL_PASSWORD|default("postfix",true) }}
hosts = {{ MYSQL_HOST|default("mysql",true) }}
dbname = {{ MYSQL_DBNAME|default("postfix",true) }}
#query = SELECT transport FROM domain WHERE domain='%s' AND active = '1' AND transport != 'virtual'
# Enforce virtual transport (catches internal virtual domains and avoid mails being lost in other transport maps)
query = SELECT REPLACE(transport, 'virtual', ':') AS transport FROM domain WHERE domain='%s' AND active = '1'
