user = {{ MYSQL_USER|default("postfix",true) }}
password = {{ MYSQL_PASSWORD|default("postfix",true) }}
hosts = {{ MYSQL_HOST|default("mysql",true) }}
dbname = {{ MYSQL_DBNAME|default("postfix",true) }}
query = SELECT maildir FROM mailbox,alias_domain WHERE alias_domain.alias_domain = '%d' and mailbox.username = CONCAT('%u', '@', alias_domain.target_domain) AND mailbox.active='1' AND alias_domain.active='1'
