<?php
    {% if POSTFIXADMIN_SETUP_PASSWORD_HASH is defined %}
    $CONF['setup_password'] = '{{ POSTFIXADMIN_SETUP_PASSWORD_HASH }}';
    {% endif %}

    $CONF['database_type'] = 'mysqli';
    $CONF['database_host'] = '{{ MYSQL_HOST|default("mysql",true) }}';
    $CONF['database_port'] = '3306';
    $CONF['database_user'] = '{{ POSTFIX_MYSQL_USER|default("postfix",true) }}';
    $CONF['database_password'] = '{{ POSTFIX_MYSQL_PASSWORD|default("postfix",true) }}';
    $CONF['database_name'] = '{{ POSTFIX_MYSQL_DATABASE|default("postfix",true) }}';
    $CONF['smtp_server'] = '{{ POSTFIX_HOST|default("postfix",true) }}';
    $CONF['smtp_port'] = '{{ POSTFIX_PORT|default("postfix",true) }}';
    $CONF['encrypt'] = 'md5crypt';
    // $CONF['encrypt'] = 'dovecot:CRAM-MD5';
    $CONF['configured'] = true;

    $CONF['vacation_domain'] = 'autoreply.{{ SERVER_NAME|default("localhost",true) }}';
    $CONF['footer_text'] = 'Return to webmail';
    $CONF['footer_link'] = 'https://{{ SERVER_NAME|default("localhost",true) }}';

    $CONF['default_aliases'] = array (
    'abuse' => 'abuse@{{ SERVER_NAME|default("localhost",true) }}',
    'hostmaster' => 'hostmaster@{{ SERVER_NAME|default("localhost",true) }}',
    'postmaster' => 'postmaster@{{ SERVER_NAME|default("localhost",true) }}',
    'webmaster' => 'webmaster@{{ SERVER_NAME|default("localhost",true) }}'
    );

    $CONF['aliases'] = '0';
    $CONF['mailboxes'] = '0';
    $CONF['password_expiration'] = 'NO';
    $CONF['sendmail'] = 'NO';

    $CONF['mailbox_postcreation_script'] = '/usr/lib/postfixadmin/scripts/mailbox_postcreation_script.sh';
    $CONF['mailbox_postedit_script'] = '/usr/lib/postfixadmin/scripts/mailbox_postedit_script.sh';
    $CONF['mailbox_postdeletion_script'] = '/usr/lib/postfixadmin/scripts/mailbox_postdeletion_script.sh';
    $CONF['mailbox_postpassword_script'] = '/usr/lib/postfixadmin/scripts/mailbox_postpassword_script.sh';
    $CONF['domain_postcreation_script'] = '/usr/lib/postfixadmin/scripts/domain_postcreation_script.sh';
    $CONF['domain_postedit_script'] = '/usr/lib/postfixadmin/scripts/domain_postedit_script.sh';
    $CONF['domain_postdeletion_script'] = '/usr/lib/postfixadmin/scripts/domain_postdeletion_script.sh';
?>
