<?php

$config = [];

$config['db_dsnw'] = 'mysql://{{ ROUNDCUBE_MYSQL_USER|default("roundcube",true) }}:{{ ROUNDCUBE_MYSQL_PASSWORD|default("roundcube",true) }}@{{ MYSQL_HOST|default("mysql",true) }}/{{ ROUNDCUBE_MYSQL_DATABASE|default("roundcube",true) }}';
$config['default_host'] = 'ssl://{{ DOVECOT_CONTAINER_NAME|default("dovecot",true) }}';
$config['default_port'] = {{ DOVECOT_PORT_IMAP|default("993",true) }};
// $config['imap_auth_type'] = 'CRAM-MD5';
$config['imap_conn_options'] = [
  'ssl'         => [
    'verify_peer'  => false,
    'verify_peer_name' => false
   ],
];

$config['smtp_server'] = 'tls://{{ DOVECOT_CONTAINER_NAME|default("dovecot",true) }}';
$config['smtp_port'] = {{ DOVECOT_PORT_SUBMISSION|default("993",true) }};
// $config['smtp_auth_type'] = 'CRAM-MD5';
$config['smtp_conn_options'] = [
  'ssl'         => [
    'verify_peer'  => false,
    'verify_peer_name' => false,
    'allow_self_signed' => true
  ],
];

$config['smtp_user'] = '%u';
$config['smtp_pass'] = '%p';
$config['support_url'] = 'https://{{ ROUNDCUBE_SUPPORT_URL|default("https://www.example.com/",true) }}/';
$config['product_name'] = '{{ ROUNDCUBE_PRODUCT_NAME|default("Awesome Webmail",true) }}';

$config['des_key'] = '{{ ROUNDCUBE_DES_KEY|default("rcmail-!24ByteDESkey*Str",true) }}';

$config['plugins'] = [
    'archive',
    'zipdownload',
];

$config['skin'] = 'elastic';

?>
