server {
    listen       80;
    listen  [::]:80;
    server_name {{ SERVER_NAME|default("localhost",true) }};

    {% if FRONTEND_PROXY_IP|default(none,false) %}
    set_real_ip_from {{ FRONTEND_PROXY_IP }};
    real_ip_header X-Forwarded-For;
    {% endif %}


    location / {
        root   /var/www/roundcube;
        index  index.php;

        location ~ \.php$ {
            include fastcgi_params;

            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_param HTTP_PROXY "";
            fastcgi_pass unix:/run/php/frontend.sock;
            fastcgi_index index.php;
            set $script_filename $document_root$fastcgi_script_name;
            fastcgi_param SCRIPT_FILENAME $script_filename;
        }
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location /Microsoft-Server-ActiveSync {
        include fastcgi_params;

        fastcgi_param HTTP_PROXY "";
        fastcgi_pass unix:/run/php/frontend.sock;
        set $script_filename /var/www/z-push/index.php;
        fastcgi_param SCRIPT_FILENAME $script_filename;
    }

    location ~* ^/autodiscover {
        include fastcgi_params;

        fastcgi_param HTTP_PROXY "";
        fastcgi_pass unix:/run/php/frontend.sock;
        set $script_filename /var/www/z-push/autodiscover/autodiscover.php;
        fastcgi_param SCRIPT_FILENAME $script_filename;
    }

    location /dav/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://{{ SABRE_CONTAINER_NAME|default("sabre",true) }}/dav/;
        access_log off;
    }

    location /{{ FRONTEND_ADMIN_CONTEXT|default("admin",true) }} {
        alias /var/www/postfixadmin/public;
        index index.php;

        {% if POSTFIXADMIN_INITIALIZED|default(none,true) == '1' %}
        location = /{{ FRONTEND_ADMIN_CONTEXT|default("admin",true) }}/upgrade.php {
            deny all;
        }

        location = /{{ FRONTEND_ADMIN_CONTEXT|default("admin",true) }}/setup.php {
            deny all;
        }
        {% endif %}

        location ~ ^/{{ FRONTEND_ADMIN_CONTEXT|default("admin",true) }}(/.*\.php(?:\?.*)?)$ {
            try_files $uri =404;
            include fastcgi_params;

            {% if POSTFIXADMIN_ALLOW_IPS|default(none,false) %}
            {% for ip in (POSTFIXADMIN_ALLOW_IPS|default("10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 fe80::/64", true)).split(' ') %}
            allow {{ ip }};{% endfor %}
            deny all;
            {% endif %}

            fastcgi_param HTTP_PROXY "";
            fastcgi_pass unix:/run/php/frontend.sock;
            fastcgi_index index.php;
            set $script_filename $document_root$1;
            fastcgi_param SCRIPT_FILENAME $script_filename;
            fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        }
    }
}
